@use '../variables/variables.scss' as var;

.product-section{
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    

    .details{
        padding: 0;
        margin: 0;
        width: 100%;
        min-height: 100vh;
        
        @include var.center-column;
        background-color: rgb(250, 235, 215, 0.7);
        

       .close-details{
            position: fixed;
            top: 4rem;
            left: 2rem;
            @include var.button;
        }

        h1, h2, h3{
            text-align: center;
            letter-spacing: 0.1rem;
        }

        h3{
            color: var.$myColor;
            padding: 1rem;
        }

        h2{
            padding: 0.5rem;
            color: var.$myColor;
        }

        .images{
            padding: 0;
            margin-bottom: 1rem;
            width: 50rem;
            height: 35rem;
            position: relative;
           
            .images-place{
                padding: 0;
                margin: 0;

                img{
                    &:first-child{
                        display: block;
                    }
    
                    display: none;
                    width: 100%;
                    height: 100%; 
                }
            } 
            
            button{
                position: absolute;
                top: 45%;
                background: none;
                border: none;
                font-size: 2.5rem;
                font-weight: bolder;
                padding: 1rem;
                color: var.$myColor;
            }

            button.right{
                right: 0;
            }
        }

        
        .description{
            @include var.center-column;
            
            div{
                margin: 0;
                padding: 0 2rem;
                max-width: 50rem;

                p{
                    font-size: var.$pFontSize;
                    font-weight: bolder;
                    text-align: center;
                }  
            }

            .hide{
                display: none;
            }

            button{
                @include var.button;
                padding: 2rem 0 7rem 0;
            }
        }


    }



}

@media (max-width: '950px'){
    .product-section{
        .details{
            .close-details{
                top: 1rem;
                left: 1rem;
            }

            .images{
                width: 35rem;
                height: 25rem; 
            }
        }
    }
}

@media (max-width: '650px'){
    .product-section{
        .details{
            .images{
                width: 22rem;
                height: 18rem; 
            }
        }
    }
}