@use '../variables/variables.scss' as var;

header,
footer {
    z-index: 999;
    position: fixed;
    margin: 0;
    padding: 0.3rem 3rem;
    height: 3rem;
    width: 100%;
    background-color: var.$myColor;
}


header{
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
        
    .menu .menu-ul{
        display: flex;
        flex-direction: row;
        padding-top: 0.3rem;

        li{
            margin: 0 0.5rem;
            list-style: none;

            a{
                text-decoration: none;
                color: var.$textColor;
                font-size: var.$pFontSize;
                font-family: var.$fontHeaders;
                font-weight: bolder;
                transition: 0.3s ease-in-out;

                &:hover{
                    color: var.$whiteAnt;
                } 
            }

            button{
                background: none;
                color: var.$textColor;
                border: none;
                font-weight: bolder;
                font-size: 1.3rem;
                font-family: var.$fontHeaders;
                cursor: pointer;
                transition: 0.5s ease-in-out;

                &:hover{
                    color: var.$whiteAnt;
                }
            }     
        }

        .dropdown{

            .dropdown-text{
                position: absolute;
                top: 2.5rem;

                ul{
                    @include var.center-column;
                    width: 10rem;

                    li{
                        padding: 0.5rem 1rem;
                        width: 100%;
                        margin: 0;
                        background-color: var.$myColor;

                        a {
                            text-decoration: none;
                            color: var.$textColor;
                            font-size: var.$pFontSize;
                            font-family: var.$fontHeaders;
                            font-weight: bolder;
                            transition: 0.5 ease-in-out;
    
                            &:hover{
                                color: var.$whiteAnt;
                            }
                        }
                    }
                }
            }
        }
    }

    .menu-btn{
        display: none;
        background: none;
        color: var.$textColor;
        border: none;
        font-weight: bolder;
        font-size: 1.3rem;
        font-family: var.$fontHeaders;
        cursor: pointer;
        transition: 0.5s ease-in-out;
        
        &:hover{
            color: var.$whiteAnt;
        }
    }
}


footer{
    bottom: 0;

    h3{
        text-align: center;
    }
}


/*RESPONSIVE HEADER AND MENU*/

@media (max-width: 780px){
    header,
    footer{
        height: 2rem;
    }

    header{
        padding: 0.3rem 2rem;

        h1{
            font-size: 1.3rem;
        }

        .menu .menu-ul{
            padding: 0;
            width: 12rem;
            position: absolute;
            flex-direction: column;
            top: 2rem;
            right: -15rem;
            text-align: center;
            transition: 1s ease-in-out;

            li{
               background-color: #444;
               padding: 0.5rem 3rem;
               margin: 0;
                
               a{
                color: var.$myColor;
               }

               button{
                color: var.$myColor;
                margin: 0;
                padding: 0;
               }
            }

            .dropdown{
    
                .dropdown-text{
                    position: absolute;
                    right: 12rem;
                    
                    ul{
            
                        li{
                            padding: 0.5rem 3rem;
                            margin: 0;
                            background-color: var.$textColor;
    
                            a {
                                color: var.$myColor;
                                transition: 0.5 ease-in-out;
        
                                &:hover{
                                    color: var.$whiteAnt;
                                }
                            }
                        }
                    }
                }
            }
        }

        .menu-btn{
            display: block;
        }
    }
}