@use '../variables/variables.scss' as var;

header,
footer {
    z-index: 999;
    position: fixed;
    margin: 0;
    padding: 0.3rem 3rem;
    height: 3rem;
    width: 100%;
    background-color: var.$myColor;
}


header{
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
        
    .menu .menu-ul{
        display: flex;
        flex-direction: row;
        padding-top: 0.3rem;

        li{
            display: inline-block;
            list-style: none;

            a{
                display: block;
                padding: 0 3rem;
                text-decoration: none;
                color: var.$textColor;
                font-size: var.$pFontSize;
                font-family: var.$fontHeaders;
                font-weight: bolder;
                transition: 0.3s ease-in-out;

                &:hover{
                    color: var.$whiteAnt;
                } 
            } 
            
            &:hover .dropdown-text{
                display: block;
            }

            &:hover .dropdown-text li{
                display: block;
            }
        }

        .dropdown{
            display: flex;
            justify-content: center;
            
            ul{
                position: absolute;
                padding-top: 2rem;
                width: 10rem;
                display: none;

                li{
                    padding: 0.5rem 1rem;
                    width: 100%;
                    margin: 0;
                    background-color: var.$myColor;
                    a {
                        padding: 0 1rem;
                        text-decoration: none;
                        color: var.$textColor;
                        font-size: var.$pFontSize;
                        font-family: var.$fontHeaders;
                        font-weight: bolder;
                        transition: 0.5 ease-in-out;

                        &:hover{
                            color: var.$whiteAnt;
                        }
                    }
                }
            } 
        }
    }

    .menu-btn{
        display: none;
        background: none;
        color: var.$textColor;
        border: none;
        font-weight: bolder;
        font-size: 1.3rem;
        font-family: var.$fontHeaders;
        cursor: pointer;
        transition: 0.5s ease-in-out;
        
        &:hover{
            color: var.$whiteAnt;
        }
    }
}


footer{
    bottom: 0;

    h3{
        text-align: center;
    }
}


/*RESPONSIVE HEADER AND MENU*/

@media (max-width: 780px){
    header,
    footer{
        height: 2rem;
    }

    header{
        padding: 0.3rem 2rem;

        h1{
            font-size: 1.3rem;
        }

        .menu .menu-ul{
            margin: 0;
            padding: 0;
            width: 12rem;
            position: absolute;
            flex-direction: column;
            top: 2rem;
            right: -15rem;
            text-align: center;
            transition: 1s ease-in-out;

            li{
               background-color: #444;
               padding: 0.5rem 3rem;
               margin: 0;
                
               a{
                padding: 0;
                color: var.$myColor;
               }
            }

            .dropdown{    
                                       
                .dropdown-text{
                    position: absolute;
                    padding: 0;
                    right: 12rem;

                    li{
                        padding: 0.5rem 0rem;
                        margin: 0;
                        background-color: var.$textColor;

                        a {
                            padding: 0 1rem;
                            color: var.$myColor;
                            transition: 0.5 ease-in-out;
    
                            &:hover{
                                color: var.$whiteAnt;
                            }
                        }
                    }
                }
            }
        }

        .menu-btn{
            display: block;
        }
    }
}