@use '../variables/variables.scss' as var;

.filtering{
    @include var.center;
    flex-wrap: wrap;
    padding: 3rem 0;

    input{
        @include var.filtering;
    }

    select{
        @include var.filtering;

        option{
            font-weight: bold;

            &:hover{
                color: var.$myColor;
                background: none;
                cursor: pointer;
            }
        }
    }
}