
/*COLORS*/
$myColor: crimson;  
$textColor: #333;
$whiteAnt: antiquewhite;

/*FONTS*/
$pFontSize: 1.2rem;
$fontHeaders: 'Bebas Neue', cursive;
$fontText: 'DM Sans', sans-serif;

@mixin center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin center-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@mixin section-mix{
    width: 100%;
    margin: 0;
    padding: 1rem 0;
    @include center-column;
}

@mixin filtering{
    padding: 0.5rem 1rem;
    margin: 1rem;
    background-color: $whiteAnt;
    color: $textColor;
    font-size: 1.2rem;
    cursor: pointer;
    border: 2px solid $textColor;
    border-radius: 0.3rem;
}

@mixin ahref{
    text-decoration: none;
    color: $textColor;
    font-size: $pFontSize;
    font-family: $fontHeaders;
    font-weight: bolder;
    transition: 0.3s ease-in-out;
}

@mixin button{
    background: none;
    color: $textColor;
    border: none;
    font-weight: bolder;
    font-size: 1.3rem;
    font-family: $fontHeaders;
    cursor: pointer;
    transition: 0.5s ease-in-out;

    &:hover{
        transform: scale(1.2);
        color: $myColor;
    }
}