@use '../variables/variables.scss' as var;

main {
    padding: 4rem 5rem;
    margin: 0;
    width: 100%;
    min-height: 100vh;
    section {
    @include var.section-mix;
        .categories{
            @include var.center;
            flex-wrap: wrap;
            width: 100%;
        }
    } 
}

@media (max-width: 1200px){
    main {
        padding: 4rem 1rem;
    }
}