.product-section {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}
.product-section .details {
  padding: 0rem;
  margin: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(250, 235, 215, 0.7);
}
.product-section .details h1, .product-section .details h2, .product-section .details h3 {
  text-align: center;
  letter-spacing: 0.1rem;
}
.product-section .details h1 {
  font-size: 2rem;
}
.product-section .details h3 {
  color: crimson;
  padding: 1rem;
}
.product-section .details h2 {
  padding: 0.5rem;
  color: crimson;
  font-size: 1.8rem;
}
.product-section .details .images {
  padding: 0;
  margin-bottom: 3rem;
  width: 40rem;
  height: 30rem;
  position: relative;
}
.product-section .details .images .images-place {
  padding: 0;
  margin: 0;
}
.product-section .details .images .images-place img {
  display: none;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  box-shadow: 0.4rem 0.7rem 0.2rem rgba(51, 51, 51, 0.8);
}
.product-section .details .images .images-place img:first-child {
  display: block;
}
.product-section .details .images button {
  position: absolute;
  top: 45%;
  background: none;
  border: none;
  font-size: 2.5rem;
  font-weight: bolder;
  padding: 1rem;
  color: crimson;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.product-section .details .images button:hover {
  transform: scale(1.8);
}
.product-section .details .images button.right {
  right: 0;
}
.product-section .details .description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.product-section .details .description div {
  margin: 0;
  padding: 0 2rem;
  max-width: 50rem;
}
.product-section .details .description div p {
  font-size: 1.2rem;
  font-weight: bolder;
  text-align: center;
}
.product-section .details .description .hide {
  display: none;
}
.product-section .details .description button {
  background: none;
  color: #333;
  border: none;
  font-weight: bolder;
  font-size: 1.3rem;
  font-family: "Bebas Neue", cursive;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  color: crimson;
}
.product-section .details .description button:hover {
  transform: scale(1.2);
  color: crimson;
}
.product-section .details .add-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 3rem;
  margin-top: 2rem;
  border: 0.3rem solid #333;
  border-radius: 0.5rem;
}
.product-section .details .add-cart h3 {
  color: crimson;
  padding: 0;
}
.product-section .details .add-cart .quantity {
  display: flex;
}
.product-section .details .add-cart .quantity input {
  margin-left: 1rem;
  width: 3rem;
  font-size: 1rem;
  border: 0.1rem solid #333;
  border-radius: 0.1rem;
  padding: 0 0.3rem;
  font-weight: bolder;
  color: #333;
}
.product-section .details .add-cart button {
  margin-top: 0.5rem;
  background-color: crimson;
  border: none;
  border-radius: 0.2rem;
  padding: 0.3rem 0.7rem;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bolder;
  font-family: "Bebas Neue", cursive;
  color: #333;
}
.product-section .details .close-details {
  position: fixed;
  top: 4rem;
  left: 2rem;
  background: none;
  color: #333;
  border: none;
  font-weight: bolder;
  font-size: 1.3rem;
  font-family: "Bebas Neue", cursive;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.product-section .details .close-details:hover {
  transform: scale(1.2);
  color: crimson;
}

@media (max-width: 950px) {
  .product-section .details .close-details {
    top: 1rem;
    left: 1rem;
  }
  .product-section .details .images {
    width: 35rem;
    height: 25rem;
  }
}
@media (max-width: 650px) {
  .product-section .details .images {
    width: 22rem;
    height: 18rem;
    margin: 0;
  }
}/*# sourceMappingURL=product.css.map */