@use '../variables/variables.scss' as var;

.product-section{
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    

    .details{
        padding: 0rem;
        margin: 0;
        width: 100%;
        min-height: 100vh;
        @include var.center-column;
        background-color: rgb(250, 235, 215, 0.7);

        h1, h2, h3{
            text-align: center;
            letter-spacing: 0.1rem;
        }

        h1{
            font-size: 2rem;
        }

        h3{
            color: var.$myColor;
            padding: 1rem;
        }

        h2{
            padding: 0.5rem;
            color: var.$myColor;
            font-size: 1.8rem;
        }

        .images{
            padding: 0;
            margin-bottom: 3rem;
            width: 40rem;
            height: 30rem;
            position: relative;
           
            .images-place{
                padding: 0;
                margin: 0;

                img{
                    &:first-child{
                        display: block;
                    }
    
                    display: none;
                    width: 100%;
                    height: 100%; 
                    border-radius: 1rem;
                    box-shadow: var.$boxShadow;
                }
            } 
            
            button{
                position: absolute;
                top: 45%;
                background: none;
                border: none;
                font-size: 2.5rem;
                font-weight: bolder;
                padding: 1rem;
                color: var.$myColor;
                cursor: pointer;
                transition: all 0.5s ease-in-out;

                &:hover{
                    transform: scale(1.8);
                }
            }

            button.right{
                right: 0;
            }
        }

        .description{
            @include var.center-column;
            
            div{
                margin: 0;
                padding: 0 2rem;
                max-width: 50rem;

                p{
                    font-size: var.$pFontSize;
                    font-weight: bolder;
                    text-align: center;
                }  
            }

            .hide{
                display: none;
            }

            button{
                @include var.button;
                color: var.$myColor;
            }
        }

        .add-cart{
            @include var.center-column;
            padding: 1rem 3rem;
            margin-top: 2rem;
            border: 0.3rem solid var.$textColor;
            border-radius: 0.5rem;

            h3{
                color: var.$myColor;
                padding: 0;
            }

            .quantity {
                display: flex;

                input{
                    margin-left: 1rem;
                    width: 3rem;
                    font-size: 1rem;
                    border: 0.1rem solid var.$textColor;
                    border-radius: 0.1rem;
                    padding: 0 0.3rem;
                    font-weight: bolder;
                    color: var.$textColor;
                }
            }               

            button{
                margin-top: 0.5rem;
                background-color: var.$myColor;
                border: none;
                border-radius: 0.2rem;
                padding: 0.3rem 0.7rem;
                cursor: pointer;
                font-size: var.$pFontSize;
                font-weight: bolder;
                font-family: var.$fontHeaders;
                color: var.$textColor;
            }
        }

       .close-details{
            position: fixed;
            top: 4rem;
            left: 2rem;
            @include var.button;
        }
    }
}

@media (max-width: '950px'){
    .product-section{
        .details{
            .close-details{
                top: 1rem;
                left: 1rem;
            }

            .images{
                width: 35rem;
                height: 25rem; 
            }
        }
    }
}

@media (max-width: '650px'){
    .product-section{
        .details{
            .images{
                width: 22rem;
                height: 18rem; 
                margin: 0;
            }
        }
    }
}