@use '../variables/variables.scss' as var;

.modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: var.$whiteAnt;
    overflow: scroll;

    .details{
        position: absolute;
        padding: 5rem 1rem;
        margin: 0;
        width: 100%;
        min-height: 100vh;
        @include var.center-column;

        button{
            position: fixed;
            top: 4rem;
            right: 2rem;
        }
    }
}