@use '../variables/variables.scss' as var;

.card-product {
    position: relative;
    margin: 1rem;
    width: 20rem;
    height: 15rem;
    cursor: pointer;
    overflow: hidden; 
    

    img{
        width: 100%;
        border-radius: 0.5rem;  
    }

    .card-description{
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 0 1rem;
        width: 100%;
        color: var.$myColor;
        background-color: var.$whiteAnt;
        opacity: 0.8;

        h2{
            color: var.$textColor;
        }

        .card-des-price-btn{
            display: flex;
            justify-content: space-between;
            flex-direction: row;

            h1{
                letter-spacing: normal;
            }

            button{
                margin: 0 0.5rem;
                @include var.button;
            }
        }
    }
}