/*COLORS*/
/*FONTS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: antiquewhite;
  color: #333;
  font-family: "DM Sans", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1, h2, h3, h4, h5 {
  font-family: "Bebas Neue", cursive;
}

header,
footer {
  z-index: 999;
  position: fixed;
  margin: 0;
  padding: 0.3rem 3rem;
  height: 3rem;
  width: 100%;
  background-color: crimson;
}

header {
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header .menu .menu-ul {
  display: flex;
  flex-direction: row;
  padding-top: 0.3rem;
}
header .menu .menu-ul li {
  display: inline-block;
  list-style: none;
}
header .menu .menu-ul li a {
  display: block;
  padding: 0 3rem;
  text-decoration: none;
  color: #333;
  font-size: 1.2rem;
  font-family: "Bebas Neue", cursive;
  font-weight: bolder;
  transition: 0.3s ease-in-out;
}
header .menu .menu-ul li a:hover {
  color: antiquewhite;
}
header .menu .menu-ul li:hover .dropdown-text {
  display: block;
}
header .menu .menu-ul li:hover .dropdown-text li {
  display: block;
}
header .menu .menu-ul li {
  display: inline-block;
}
header .menu .menu-ul li ul {
  display: block;
  position: absolute;
  width: 10rem;
  display: none;
  text-align: center;
}
header .menu .menu-ul li ul li {
  padding: 0.5rem 1rem;
  width: 100%;
  margin: 0;
  background-color: crimson;
}
header .menu .menu-ul li ul li a {
  padding: 0 1rem;
  text-decoration: none;
  color: #333;
  font-size: 1.2rem;
  font-family: "Bebas Neue", cursive;
  font-weight: bolder;
  transition: 0.3s ease-in-out;
}
header .menu .menu-ul li ul li a:hover {
  color: antiquewhite;
}
header .menu-btn {
  display: none;
  background: none;
  color: #333;
  border: none;
  font-weight: bolder;
  font-size: 1.3rem;
  font-family: "Bebas Neue", cursive;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
header .menu-btn:hover {
  color: antiquewhite;
}

footer {
  bottom: 0;
}
footer h3 {
  text-align: center;
}

/*RESPONSIVE HEADER AND MENU*/
@media (max-width: 780px) {
  header,
footer {
    height: 2rem;
  }
  header {
    padding: 0.3rem 2rem;
  }
  header h1 {
    font-size: 1.3rem;
  }
  header .menu .menu-ul {
    margin: 0;
    padding: 0;
    width: 12rem;
    position: absolute;
    flex-direction: column;
    top: 2rem;
    right: -15rem;
    text-align: center;
    transition: 1s ease-in-out;
  }
  header .menu .menu-ul li {
    background-color: #444;
    padding: 0.5rem 3rem;
    margin: 0;
  }
  header .menu .menu-ul li a {
    padding: 0;
    color: crimson;
  }
  header .menu .menu-ul li .dropdown-text {
    position: absolute;
    padding: 0;
    right: 0;
    width: 12rem;
  }
  header .menu .menu-ul li .dropdown-text li {
    padding: 0.5rem 0rem;
    margin: 0;
    background-color: #333;
  }
  header .menu .menu-ul li .dropdown-text li a {
    padding: 0 1rem;
    color: crimson;
    transition: 0.5 ease-in-out;
  }
  header .menu .menu-ul li .dropdown-text li a:hover {
    color: antiquewhite;
  }
  header .menu-btn {
    display: block;
  }
}
main {
  padding: 4rem 5rem;
  margin: 0;
  width: 100%;
  min-height: 100vh;
}
main section {
  width: 100%;
  margin: 0;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 5rem;
}
main section h1 {
  font-size: 2rem;
  letter-spacing: 1rem;
}
main section .categories,
main section .products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
main section .heading-products-categ {
  width: 100%;
  display: flex;
  justify-content: center;
}
main section .heading-products-categ ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}
main section .heading-products-categ ul li {
  margin: 0 1rem;
  padding: 0.5rem 0;
}
main section .heading-products-categ ul li:hover {
  transform: scale(1.3);
  margin: 0 1rem;
}
main section .heading-products-categ ul li:hover a {
  letter-spacing: 0.1rem;
}
main section .heading-products-categ ul li a {
  text-decoration: none;
  color: #333;
  font-size: 1.2rem;
  font-family: "Bebas Neue", cursive;
  font-weight: bolder;
  transition: 0.3s ease-in-out;
  position: relative;
}

@media (max-width: 1200px) {
  main {
    padding: 4rem 0.5rem;
  }
  main section {
    padding: 1rem 0;
    margin: 0;
  }
}
@media (max-width: 800px) {
  main {
    padding: 3rem 0.5rem;
  }
  main section {
    padding: 1rem 0;
    margin: 0;
  }
}
.card-category {
  position: relative;
  padding: 1rem;
  margin: 1rem;
  width: 25rem;
  height: 20rem;
  cursor: pointer;
  /* overflow: hidden; */
}
.card-category:hover img {
  transform: scale3d(1.03, 1.03, 1);
}
.card-category:hover h1 {
  transform: translate(-50%, -50%) scale3d(1.6, 1.6, 1) rotateY(360deg);
  background-color: crimson;
  color: antiquewhite;
  box-shadow: 0 20px 50px crimson, 0 0 40px crimson, 0 0 30px crimson, 0 0 15px crimson;
}
.card-category img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  transition: 2s ease-in-out;
}
.card-category h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  letter-spacing: 0.3rem;
  color: crimson;
  background-color: antiquewhite;
  box-shadow: 0 0 20px antiquewhite, 0 0 10px antiquewhite, 0 0 5px antiquewhite;
  transition: 1s ease-in;
}

@media (max-width: 1200px) {
  .card-category {
    width: 22rem;
    height: 18rem;
  }
}
@media (max-width: 700px) {
  .card-category {
    width: 22rem;
    height: 18rem;
    margin: 1rem 0;
    padding: 0.3rem;
  }
}
.filtering {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 3rem 0;
}
.filtering input {
  padding: 0.5rem 1rem;
  margin: 1rem;
  background-color: antiquewhite;
  color: #333;
  font-size: 1.2rem;
  cursor: pointer;
  border: 2px solid #333;
  border-radius: 0.3rem;
}
.filtering select {
  padding: 0.5rem 1rem;
  margin: 1rem;
  background-color: antiquewhite;
  color: #333;
  font-size: 1.2rem;
  cursor: pointer;
  border: 2px solid #333;
  border-radius: 0.3rem;
}

.card-product {
  position: relative;
  margin: 1rem;
  width: 20rem;
  height: 15rem;
  cursor: pointer;
  overflow: hidden;
}
.card-product img {
  width: 100%;
  border-radius: 0.5rem;
}
.card-product .card-description {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0 1rem;
  width: 100%;
  color: crimson;
  background-color: antiquewhite;
  opacity: 0.8;
}
.card-product .card-description h2 {
  color: #333;
}
.card-product .card-description .card-des-price-btn {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.card-product .card-description .card-des-price-btn h1 {
  letter-spacing: normal;
}
.card-product .card-description .card-des-price-btn button {
  margin: 0 0.5rem;
  background: none;
  color: #333;
  border: none;
  font-weight: bolder;
  font-size: 1.3rem;
  font-family: "Bebas Neue", cursive;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.card-product .card-description .card-des-price-btn button:hover {
  transform: scale(1.2);
  color: crimson;
}

.product-section {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}
.product-section .details {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(250, 235, 215, 0.7);
}
.product-section .details .close-details {
  position: fixed;
  top: 4rem;
  left: 2rem;
  background: none;
  color: #333;
  border: none;
  font-weight: bolder;
  font-size: 1.3rem;
  font-family: "Bebas Neue", cursive;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.product-section .details .close-details:hover {
  transform: scale(1.2);
  color: crimson;
}
.product-section .details h1, .product-section .details h2, .product-section .details h3 {
  text-align: center;
  letter-spacing: 0.1rem;
}
.product-section .details h3 {
  color: crimson;
  padding: 1rem;
}
.product-section .details h2 {
  padding: 0.5rem;
  color: crimson;
}
.product-section .details .images {
  padding: 0;
  margin-bottom: 1rem;
  width: 50rem;
  height: 35rem;
  position: relative;
}
.product-section .details .images .images-place {
  padding: 0;
  margin: 0;
}
.product-section .details .images .images-place img {
  display: none;
  width: 100%;
  height: 100%;
}
.product-section .details .images .images-place img:first-child {
  display: block;
}
.product-section .details .images button {
  position: absolute;
  top: 45%;
  background: none;
  border: none;
  font-size: 2.5rem;
  font-weight: bolder;
  padding: 1rem;
  color: crimson;
}
.product-section .details .images button.right {
  right: 0;
}
.product-section .details .description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.product-section .details .description div {
  margin: 0;
  padding: 0 2rem;
  max-width: 50rem;
}
.product-section .details .description div p {
  font-size: 1.2rem;
  font-weight: bolder;
  text-align: center;
}
.product-section .details .description .hide {
  display: none;
}
.product-section .details .description button {
  background: none;
  color: #333;
  border: none;
  font-weight: bolder;
  font-size: 1.3rem;
  font-family: "Bebas Neue", cursive;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  padding: 2rem 0 7rem 0;
}
.product-section .details .description button:hover {
  transform: scale(1.2);
  color: crimson;
}

@media (max-width: 950px) {
  .product-section .details .close-details {
    top: 1rem;
    left: 1rem;
  }
  .product-section .details .images {
    width: 35rem;
    height: 25rem;
  }
}
@media (max-width: 650px) {
  .product-section .details .images {
    width: 22rem;
    height: 18rem;
  }
}/*# sourceMappingURL=style.css.map */